body {
    margin: 0;
    background: url(https://wallpapers.com/images/hd/professional-background-sfjuyc5zs4mum6fh.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

* {
    list-style: none;
    font-family: "Trirong", sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

nav, ul {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
}

nav > ul > li {
    margin: 10px;
}

nav > img {
    height: 5vh;
}

.detail, .image, .mainDiv {
    width: 40vw;
    height: 90vh;
}

div.detail {
    margin: 10vh;
}

span#space {
    padding: 2.5vh;
    display: block;
}

div.image {
    color: rgb(24, 24, 230);
    display: flex;
    align-items: center;
}

#about > h2 {
    text-align: center;
}

.image > img {
    width: 25vw;
    border-radius: 20px;
    box-shadow: 0 10px 10px #00000077;
}

div.mainContainer {
    display: flex;
    justify-content: space-around;
}

span#projectContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100vw;
}

span#projectContainer > img {
    width: 30vw;
    height: auto;
}

a#buttonCV {
    background: green;
    padding: 10px;
    border-radius: 50px;
    color: rgb(187, 46, 46);
    font-weight: 500;
}

div#project > span > img {
    width: 60vw;
    margin: 2em;
}

/* ===== CONTACT =====*/
.contact__input {
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1.5px solid var(--second-color);
    outline: none;
    margin-bottom: var(--mb-4);
  }
  .contact__button {
    display: block;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    margin-left: center;
  }

.contact__container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

  form.contact__form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
  }
/* ===== PROJECTS =====*/
div.work__container {
    display: flex;
  }

  .work__img {
    box-shadow: 0px 4px 25px rgba(104, 12, 224, 0.15);
    border-radius: 0.5rem;
  }
  .work__img img {
    transition: 1s;
  }
  .work__img img:hover {
    transform: scale(1.1);
  }
  .img-lyric{
    width: 600px;
    
  }
  .img-portfolio{
    width: 600PX;
  }
    
